aiohttp~=3.7.4
asgiref~=3.3.4
autopep8~=1.5.6
celery[redis]~=4.4.7
channels==3.0.3
channels_redis~=3.2.0
dgeq~=0.3.7
dj-database-url~=0.5.0
django-celery-beat~=2.0.0
django-enumfields~=2.1.1
django-filter~=2.4.0
django~=3.2
djangochannelsrestframework
django_extensions~=3.1.2
django-elasticsearch-dsl~=7.1.4
django-elasticsearch-dsl-drf~=0.22
django-debug-toolbar~=3.2.1
django-dynamic-fixture~=3.1.1
django-notifications-hq~=1.6.0
djangorestframework~=3.12.4
djangorestframework-camel-case~=1.2.0
djangorestframework-simplejwt~=4.6.0
drf-yasg~=1.20.0
gitpython~=3.1.15
isodate~=0.6.0
jinja2~=2.11.2
markdown~=3.3.4
mock~=4.0.3
oauth2~=1.9.0
psycopg2-binary~=2.8.6
pydenticon~=0.3.1
python-dateutil~=2.8.1
pyparsing~=2.4.7
pydot~=1.4.2
pylti~=0.7.0
uvicorn~=0.13.4
pl-sandbox-api~=1.1.0
tox~=3.23.0
whitenoise~=5.2.0